<div class="jumbotron py-4">
    <div class="container">
        <div class="row">
            <div class="col-lg">
        <h1 class="display-4 text-left">Employee</h1>
        <h4>Total Employee</h4>
            </div>
            <div class="col-lg-2">
                <button type="button" class="btn btn-light">Add New Employee</button>
                    </div>
        </div>    
    </div>

    

</div>
<div class="row">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Employee No</th>
            <th scope="col">Email</th>
            <th scope="col">Department</th>
            <th scope="col">Start Date</th>
            <th scope="col">Active</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td>Mark</td>
              <td>Otto</td>
              <th scope="row">1</th>
              <td>Otto@email.com</td>
              <td>IT</td>
              <td>10/20/2021</td>
              <td>Yes</td>
            </tr>
        </tbody>
    </table>
</div>